@charset "utf-8";
/*_________ All 'Index Page' Styles go here _________*/
.BodyIndexPage {
	background-color: rgba(198,156,109,1.00);
	color: hsla(0,100%,98%,1.00);
	text-align: left;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-weight: 400;
}
/*_________ All Pages will have the same Body elements liste above _________*/
.Maincontent {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	height: 50px;
}

.Header {
	background-color: #603813;
	float: left;
	height: 150px;
	width: 960px;
	border-left: 1px solid rgba(252,252,252,1.00);
	border-right: thin solid rgba(252,252,252,1.00);
	border-bottom: thin solid rgba(252,252,252,1.00);
	border-top: thin solid rgba(252,252,252,1.00);
}
.HeaderSectionLeft {
	width: 480px;
	float: left;
	background-color: rgba(96,56,19,1.00);
	height: 145px;
	color: hsla(0,18%,4%,1.00);
	text-align: right;
	padding-top: 5px;
}
.image_header_left {
	width: 400px;
	height: 130px;
}

.HeaderSectionRight {
	float: left;
	width: 480px;
	background-color: rgba(96,56,19,1.00);
	height: 150px;
	margin-bottom: 10px;
	text-align: center;
}
.NavBarTop {
	float: left;
	height: 50px;
	width: 960px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;
	border-left: 1px solid rgba(253,253,253,1.00);
	border-right: thin solid rgba(253,253,253,1.00);
	border-bottom: thin solid rgba(253,253,253,1.00);
	border-top: thin solid rgba(253,253,253,1.00);
	background-color: rgba(96,56,19,1.00);
}
.navbarlist {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-x: hidden;
}

.navbaritems {
	float: right;
}
.navbaritems a {
	text-decoration: none;
	display: block;
	padding: 14px 16px 16px;
	color: rgba(198,156,109,1.00);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 20px;
}
.navbaritems a:hover {
	color: rgba(251,244,244,1.00);
	text-decoration: underline;
}
.IndexIntroduction {
	float: left;
	border: 1px solid rgba(251,248,245,1.00);
	width: 930px;
	margin-bottom: 20px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 20px;
	background-position: center 0%;
	background-repeat: no-repeat;
	background-size: 102% 102%;
	background-color: rgba(96,56,19,1.00);
}

.PageContentMain {
	width: 960px;
	height: 500px;
	float: left;
}
.MainPictureBox {
	float: left;
	height: 505px;
	width: 660px;
	background-color: #603813;
	font-weight: bold;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: larger;
	border-right-width: thin;
}
.ResourcesPanel {
	width: 296px;
	height: 504px;
	float: left;
	background-color: #FCFAF8;
	padding-top: 0px;
	padding-left: 0px;
	color: rgba(96,56,19,1.00);
	border: 2px solid rgba(254,252,250,1.00);
}
.resourcepanelimage {
	display: block;
	padding-left: auto;
	padding-right: auto;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	width: 125px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

.resourcepanelh1 {
	text-align: center;
	text-decoration: underline;
}
.resourcelinks {
	list-style-type: none;
	overflow-x: hidden;
	list-style: none;
}

.resourceitems a:hover {
	color: rgba(198,156,109,1.00);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-decoration: underline;
}

.resourceitems a {
	display: block;
	margin: 14px 16px 16px;
	color: rgba(96,56,19,1.00);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
}

.topleft {
	float: left;
	height: 250px;
	width: 326px;
	background-image: url(images/Botanica.jpg);
	border: 2px solid rgba(251,245,246,1.00);
}
.topright {
	float: left;
	height: 250px;
	width: 326px;
	background-image: url(images/recipe.jpg);
	border: 2px solid rgba(253,253,253,1.00);
}
.bottomleft {
	float: left;
	height: 250px;
	width: 326px;
	background-image: url(images/vegan%20cafe.jpg);
	border: 2px solid rgba(252,252,252,1.00);
}
.bottomright {
	float: left;
	height: 250px;
	width: 326px;
	background-image: url(images/vegan%20food.jpg);
	border: 2px solid rgba(251,251,251,1.00);
}
.Indexfooter {
	background-color: rgba(96,56,19,1);
	float: left;
	height: 25px;
	width: 960px;
	margin-top: 20px;
	border-width: 1px;
	border-style: solid;
	padding-top: 10px;
	padding-left: 0px;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-weight: 400;
	font-size: large;
	padding-bottom: 10px;
}
.MainPictureBoxImages {
	width: 150px;
	height: 35px;
	z-index: 10;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

/*_________ Put all the 'About Us' styles here _________*/

.AboutUsMainContent {
	width: 960px;
	height: 1000px;
	margin-top: 20px;
	float: left;
	display: block;
	background-color: rgba(253,252,252,1.00);
}
.AboutUsMainPictureBox {
	width: 760px;
	float: left;
	color: rgba(251,251,251,1.00);
	height: 800px;
}
.AboutUsResourcesPanel {
	width: 200px;
	height: 750px;
	display: block;
	float: right;
	background-color: rgba(237,218,218,1.00);
}
.aboutusresourcesub-headings {
	color: rgba(5,117,60,1.00);
	text-align: center;
	font-weight: bold;
}



.aboutusresourcepanalheading {
	color: rgba(96,56,19,1.00);
	padding: 10px 0 0;
	text-align: center;
	top: 0px;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	text-decoration: underline;
}
.aboutusresourcelinks {
	overflow-x: hidden;
	padding-left: 20px;
	margin: 10px 0 0;
	list-style: none;
}
.aboutusresourceitems {
	text-align: left;



}

.aboutusresourceitems a {
	color: rgba(96,56,19,1.00);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	display: block;
	line-height: 20px;
	text-align: left;
}
.aboutusresourceitems a:hover {
	color: rgba(198,156,109,1.00);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

.aboutusresourcepanelimage {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
}
.aboutus_section1 {
	background-color: rgba(96,56,19,1);
	float: left;
	height: 250px;
	width: 250px;
	display: block;
}
.aboutus_section2 {
	display: block;
	float: left;
	height: 250px;
	width: 250px;
	padding-left: 9px;
	padding-top: 2px;
}
.aboutus_section3 {
	display: block;
	float: left;
	height: 250px;
	width: 250px;
}
.aboutus_mainpanel_text_subheadings {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 0px;
}
.aboutus_mainpanel_text {
	display: block;
	float: left;
	height: auto;
	width: 559px;
	color: rgba(96,56,19,1.00);
	padding-top: 10px;
	padding-left: 100px;
	padding-right: 100px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 19px;
	background-color: rgba(252,252,252,1.00);
}
.events_sections2-3 {
	background-color: rgba(68,68,68,1);
	display: block;
	float: left;
	height: 250px;
	width: 500px;
}
.events_sections2-3 {
	background-color: rgba(110,110,110,1);
	display: block;
	float: left;
	height: 250px;
	width: 500px;
	padding-left: 20px;
}
.events_sections2_3 {
	background-color: rgba(114,114,114,1);
	display: block;
	float: left;
	height: 250px;
	width: 480px;
	margin-left: 15px;
}
